/* 
colours
red = #a9182b
grey = #3d3935
blueish grey bg = #e9eff1
table margins = #dddddd
button col = #b81012
h2 col = #bc2328
*/

*{
  box-sizing: border-box;
}

html{
  font: normal 100% sans-serif;
  height: 100%;
  width: 100%;
}

body{
  background-color: #a9182b;
  margin: 0;
  height: 100%;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.2em;
  color: #bc2328;
}

p{
  font-size: 1em;
}

table, th, td{
  border: 1px solid #bbbbbb;
  border-collapse: collapse;
}

table{
  padding: 0.5em 0.5 0.5em 0;
}

td{
  padding: 0.4em 0 0 0.4em;
  width: 20%;
}

td input{
  width: 60%;
  padding: 0.4em;
  margin: 0.2em 0;
}

th{
  background-color: #dddddd;
}

button{
  padding: 0.5em;
  margin-left: 0.3em;
  width: 90px;
  height: auto;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #b81012;
  color: white;
  font-weight: bold;
}

.main-container{
  height: auto;
  margin: 0 2em 0 2em;
  padding: 2em;
  background-color: white;
  border-top: solid;
  border-top-width: 1em;
  border-top-color: #3d3935;
  border-bottom: solid;
  border-bottom-width: 2em;
  border-bottom-color: #3d3935;
}

.sub-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 70%;
  padding: 1em;
  background-color: #e9eff1;
}

.button-group{
  align-self: flex-end;
}

#result{
  background-color: transparent;
  border: none;
  font-size: 1em;
}